:root{
  --bg-main: #0e0e10;
  --bg-card: #1a1a1d;
  --bg-card-soft: #202024;

  --primary: #ff5a1f;
  --primary-light: #ff7a3c;
  --primary-dark: #d93f0b;

  --text-main: #ffffff;
  --text-secondary: #b3b3b8;
  --text-muted: #7a7a80;

  --success: #22c55e;
  --danger: #ef4444;
  --warning: #f59e0b;

  --border: #2a2a2e;
  --border-soft: #1f1f23;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: var(--bg-main);
}
nav div div img{
    height: 50px;
    width: 50px;
}
nav div div h1{
    color: var(--text-main);
    font-size: 32px;
}

/* first row */
.row div{
    padding: 20px;
}
.cards{
    background-color: var(--bg-card);
    border-radius: 16px;
    padding: 20px;
}
.cards h4{
    color: var(--text-main);
}
.cards p{
    font-weight: bold;
    font-size: 34px ;
}
#totalSavingsCard{
    background-color: var( --primary);
    color: var(--text-main);
}
#activeGoals{
    color: var(--primary);
}
#goalsCompl{
    color: var(--success);
}

/* second row */

.chart-card{
    background: var(--bg-card);
    padding: 20px;
    border-radius: 16px;
    color: var(--text-main);
}
.chart{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 12px;
    height: 200px;
    margin-top: 20px;
}
.bar-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}
.bar{
    width: 100%;
    max-width: 40px;
    background-color:var(--primary-light);
    border-radius: 8px;
    transition: 0.3s;
}
.bar:hover{
    background-color: var(--primary-dark);
}
.bar-group span{
    margin-top: 8px;
    font-size: 12px;
    color: var(--text-secondary);
}
.bar-group small {
  font-size: 12px;
  color: var(--text-secondary);
}

form input{
    background-color: var(--bg-card-soft);
    color: var(--text-main);
}
form h2{
    color: var(--text-main);
}
form p{
   color: var(--text-secondary); 
   font-size: 18px !important;
}
.warning{
    color: red;
}
.hidden{
    display: none;
}

footer{
    margin: 50px 0px 20px 0px;
}
footer p{
    color: var(--text-secondary);
    text-align: center;
}